* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
}

.btn {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 9px 16px;
  border-radius: 5px;
}

.btn:not(:disabled) {
  cursor: pointer;
}
